<ion-view view-title="Packages">
  <ion-content class="bgcolor pkgs">
    <div class="list list-inset pkSearch">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search packages">
      </label>
    </div>

    <div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
<div class="card">
        <div class="item item-text-wrap">
          This is a basic Card which contains an item that has wrapping text.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          This is a basic Card which contains an item that has wrapping text.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          This is a basic Card which contains an item that has wrapping text.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          This is a basic Card which contains an item that has wrapping text.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          This is a basic Card which contains an item that has wrapping text.
        </div>
      </div>

  </ion-content>
</ion-view>
